body {
    /* Full height */
    height: 100%;
    /* Full width */
    width: 100%;
    /* Background image */
    background: url("../images/6689.jpg") no-repeat center center fixed;
    /* Center and scale the image nicely */
    background-size: cover;
}

main {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left:15%;
    margin-right:15%;
    background-color: #775b22bc;
    padding:5px;
}

/* Style text to make it readable from background */
.displayText {
    color: white;
 /*    display: flex; */
    justify-content: space-around;
    align-items: center;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
}

#trivia-view {
    color: white;
    align-items: center;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
}


/* Style credit text for photo used as background image */

#credit {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 16px;
    padding-right: 25px;
    font-family: 'Julius Sans One', sans-serif;
}

.buttonCSS {
    background-color: #634b1d;
    border-color:#8a6a28;
    /* brown */
    color: white;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:5px;
    margin-top:-15px;
    margin-bottom:20px;
}

.choice-text{
    padding: 1.5rem;
}

.last-seconds{
    color: red;
  }
